@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_MyLayout";
}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pizzeria da Samu</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
<body>
    <div class="container mt-5">
        <h1 class="mt-5">@ViewData["Title"]</h1>

        <p class="lead">La tua privacy è importante per noi. Questa pagina descrive le nostre politiche riguardanti la raccolta, l'uso e la divulgazione delle informazioni personali quando utilizzi il nostro sito.</p>

        <div class="mt-4">
            <h2 class="mt-4">Raccolta delle Informazioni</h2>
            <p class="mt-3">Raccogliamo diversi tipi di informazioni per vari scopi, al fine di fornire e migliorare il nostro servizio. Le informazioni raccolte possono includere, ma non sono limitate a, nome, indirizzo email, numero di telefono, e dati di utilizzo.</p>
        </div>

        <div class="mt-4">
            <h2 class="mt-4">Uso delle Informazioni</h2>
            <p class="mt-3">Utilizziamo le informazioni raccolte per diversi scopi: per fornire e mantenere il nostro servizio, per notificarti modifiche al nostro servizio, per permetterti di partecipare a funzionalità interattive del nostro servizio quando scegli di farlo, per fornire supporto ai clienti, per raccogliere analisi o informazioni preziose che ci consentono di migliorare il nostro servizio, e per monitorare l'uso del nostro servizio.</p>
        </div>

        <div class="mt-4">
            <h2 class="mt-4">Divulgazione delle Informazioni</h2>
            <p class="mt-3">Ci impegniamo a non vendere, scambiare o affittare le tue informazioni personali a terzi. Tuttavia, potremmo condividere le tue informazioni con terze parti di fiducia che ci assistono nel gestire il nostro sito Web, nel condurre le nostre attività, o nel servire i nostri utenti, a condizione che tali parti accettino di mantenere queste informazioni riservate.</p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>